<%= render "layouts/navbar" %>

<div class="spacing">
  
  <div class="main-container">

    <h1>Edit Category</h1>

    <%= render 'form', task_category: @task_category %>

    <br />
    <%= link_to 'Back to Main', task_categories_path %>

  </div>
  
</div>