<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul style="color: red; font-size: 8px">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
